@model Domain.ViewModel.BuyersModel

@{
    ViewData["Title"] = "UpdateBuyers";
}

<h1>UpdateBuyers</h1>

<h4>BuyersModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateBuyers">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BuyersId" class="control-label"></label>
                <input asp-for="BuyersId" readonly class="form-control" />
                <span asp-validation-for="BuyersId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuyersName" class="control-label"></label>
                <input asp-for="BuyersName" class="form-control" />
                <span asp-validation-for="BuyersName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuyersAddress" class="control-label"></label>
                <input asp-for="BuyersAddress" class="form-control" />
                <span asp-validation-for="BuyersAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

