@model Domain.ViewModel.OrdersModel

@{
    ViewData["Title"] = "AddOrders";
}

<h1>AddOrders</h1>

<h4>OrdersModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddOrders">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrdersId" class="control-label"></label>
                <input asp-for="OrdersId" readonly class="form-control" />
                <span asp-validation-for="OrdersId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuyersId" class="control-label"></label>
                <select asp-for="BuyersId" asp-items="@(new SelectList( ViewBag.BuyersData,"BuyersId","BuyersName"))"
                        class="form-control form-select">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="OrdersDate" class="control-label"></label>
                <input asp-for="OrdersDate" class="form-control" />
                <span asp-validation-for="OrdersDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrederSum" class="control-label"></label>
                <input asp-for="OrederSum" class="form-control" />
                <span asp-validation-for="OrederSum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

